@model TLOU.Models.Reviews

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Reviews</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoveInDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoveInDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoveOutDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoveOutDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Details)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Details)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsSafe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsSafe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HasMedicine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HasMedicine)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
